{% extends 'restaurant/home.html' %}


{% block title %} About | Shehbaaz {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11 col-md-8">
            <h1>About Us</h1>
            <p class="my-5" style="font-size: 1.1rem;">&emsp; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo eius possimus illum quos exercitationem nostrum, modi quasi tempora perspiciatis est placeat accusantium porro enim dicta quae qui voluptatibus voluptatum totam!</p>
            <p class="my-5" style="font-size: 1.1rem;">&emsp; Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nostrum, laborum voluptas enim reiciendis fugit? Eos repellendus autem enim, quaerat omnis soluta accusamus dolorem, illo distinctio ab sit expedita impedit!</p>
            <p class="my-5" style="font-size: 1.1rem;">&emsp; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio sed voluptas consequatur vel, veritatis illum similique. Hic quam voluptatum incidunt! Hic itaque sapiente velit vel deleniti porro asperiores neque omnis.</p>
        </div>
    </div>
</div>

{% endblock content %}