{% extends 'restaurant/home.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-4">
        <div class="col-6 col-lg-4 " >
            <a class="btn m-2 btn-primary" href="{% url 'restaurant:menu' %}" role="button">Show All </a>
            <div class="btn-group">
              <button class="btn m-2 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </button>
              <ul class="dropdown-menu">
                {%for c in categories%}
                <li><a class="dropdown-item" href="{{c.get_absolute_url}}">{{c}}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div><hr>
    <div class="row justify-content-center">
        <div class="col-10 col-lg-8">
            <div class="card mt-3 mb-3 border border-2 border-dark">
                <img src="{{item.image.url}}" class="card-img-top" alt="...">
                <div class="card-body"><hr>
                  <h5 class="card-title text-center position-relative">{{item.name}}<span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
                    {{item.sub_category}}</h5><hr>
                  <p class="card-text">{{item.description}}</p>
                  <h6  class="mt-4 float-end btn btn-success">₹​ {{item.price}}</h6>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock content %}